# App URL for absolute redirects (e.g. https://main-shop.com)
APP_URL=

# Gemini API Key
GEMINI_API_KEY=

# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Telegram Notification
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Email Notification
SMTP_HOSTNAME=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
ADMIN_EMAIL=

# ZiniPay Configuration
ZINIPAY_API_KEY=
