# Gemini API Key
GEMINI_API_KEY=

# Supabase Configuration
VITE_SUPABASE_URL=https://xcxdkplxrxsuuwebpnyx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjeGRrcGx4cnhzdXV3ZWJwbnl4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0ODIwNzksImV4cCI6MjA4NzA1ODA3OX0.me1hIWuzeisbb9uBgBUSvHtQkYFMetDcrZ71XJJ68nM

# Telegram Notification (Edge Function)
TELEGRAM_BOT_TOKEN=8510422259:AAEY1ueGulFXmT-HDkxxLG60TbJWGdu7hPg
TELEGRAM_CHAT_ID=5067614518

# Email Notification (Edge Function)
SMTP_HOSTNAME=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=hasibulgamepoint02@gmail.com
SMTP_PASSWORD=lwri taoi ugqg dzrk
ADMIN_EMAIL=hasibulgamepoint02@gmail.com

# UddoktaPay Configuration
UDDOKTAPAY_BASE_URL=https://hasibulgamepoint.paymently.io/api
UDDOKTAPAY_API_KEY=Z9CS1FvEG5wibNaKL9S5gTPgh9SsOCZXhBmAogxU